<div class="hover:cursor-pointer sm:flex-wrap flex items-center space-x-3 p-4" (click)="show()">
        <!-- Icon -->
        <div class="w-16 h-16 flex items-center justify-center sm:mb-2 bg-gray-200 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-blue-900">
                <path d="M12 2a3 3 0 1 1-3 3 3 3 0 0 1 3-3Zm-5 7a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3a5 5 0 0 1-2.5 4.33V20a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3.67A5 5 0 0 1 7 12V9Z"/>
            </svg>           
        </div>

        <!-- Text -->
        <div>
            <h1 class="hover:underline text-sm text-blue-900 font-bold">Lorem ipsum</h1>
            <p class="text-xs text-gray-600">Lorem ipsum dolor sit amet</p>
       </div>
</div>