<!-- <div class="p-4">
    <img src="/assets/images/photo_metelus.png" alt="directeur" class="mx-auto" style="max-width: 200px;">
</div> -->
<div class="w-64 bg-white text-center">
    <h2 class="text-lg font-bold text-blue-900">LE MINISTRE</h2>
    <div class="flex justify-center my-3">
        <img src="/assets/images/photo_metelus.png" alt="directeur" class="w-48 rounded-lg">
    </div>
    <p class="text-md font-bold text-blue-900">M. Alfred Fils</p>
    <p class="text-lg font-extrabold text-blue-900">METELLUS</p>
    <div class="mt-3 text-gray-500">
        <a href="#" class="block hover:underline">Profil du Ministre</a>
        <a href="#" class="block hover:underline">Discours</a>
    </div>
</div>