<div class="border-gray-300">
    <div class="text-center text-white" style="background-color: #173152;">NOUVEAUTES</div>
    <app-nouveaute>Avis de recrutement pour les postes suivants : Gardien, Agent de Sécurité, Messager (ère) et Ménager (ère).
    </app-nouveaute>
    <app-nouveaute>Rapport des décaissements à partir des Ressources du Food Shock Window (Exercice 23-24)</app-nouveaute>
    <app-nouveaute>Dépenses Sociales.- décembre 2024</app-nouveaute>
    <app-nouveaute>Résume analytique de la situation des finances publiques pour les deux premiers mois de l’Exercice Fiscal 2024-2025</app-nouveaute>
    <app-nouveaute>Document Annexe à la lettre de Cadrage 2024-2025</app-nouveaute>
    <app-nouveaute>COMMUNIQUE DE PRESSE.- Lancement du Processus d’Élaboration du Projet de Budget 2024-2025</app-nouveaute>
</div>