<div class="p-6">
    <div id="section1" class="flex items-stretch">
        <div class="flex w-4/5 items-stretch">
            <app-presentation class="border border-gray-300 rounded-lg shadow-lg"/>
            <div class="flex-1 p-2">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati deserunt aperiam saepe alias sunt hic cum dolorem, voluptatum, eveniet quae, neque necessitatibus dignissimos non aspernatur nulla quasi velit et voluptate? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis nesciunt repellendus tempora rerum, dolor sit sapiente saepe adipisci asperiores quibusdam culpa recusandae odio quasi. Architecto minima commodi blanditiis et.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, porro? Ex culpa, magni quas itaque dolores quisquam excepturi. Ullam, necessitatibus suscipit officia eveniet neque ipsa veritatis recusandae quia eaque tempora!
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi illum perspiciatis nulla ea vel dicta voluptas beatae iste quibusdam culpa soluta nostrum neque amet, molestias saepe distinctio, aliquid illo tempora.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas provident repellat doloribus saepe modi ipsum! Doloribus consequatur voluptatem aliquid molestiae fugit, commodi dolorum consequuntur aliquam, similique natus autem aperiam cupiditate!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ex magni amet quos facilis tempora unde. Ratione veritatis molestias ipsum quas dolorum labore! Maxime, fugiat odio? Quam quaerat illum ipsa?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate a nam minus nihil, iusto exercitationem, assumenda dolorem ratione maiores quibusdam cupiditate iste numquam fugiat? Atque ducimus quod excepturi corrupti sed.
            </div>
        </div>
        <app-nouveautes class="w-1/5 border-gray-300 rounded-lg shadow-lg" />
    </div>      
    <div id="section2"></div>
    <div id="section3"></div>
</div>