<div class="p-6">
    <div id="section1" class="flex items-start">
        <app-presentation class="w-1/5" />
        <div class="flex-1 p-4">
            Milorme Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati deserunt aperiam saepe alias sunt hic cum dolorem, voluptatum, eveniet quae, neque necessitatibus dignissimos non aspernatur nulla quasi velit et voluptate?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis nesciunt repellendus tempora rerum, dolor sit sapiente saepe adipisci asperiores quibusdam culpa recusandae odio quasi. Architecto minima commodi blanditiis et.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo, porro? Ex culpa, magni quas itaque dolores quisquam excepturi. Ullam, necessitatibus suscipit officia eveniet neque ipsa veritatis recusandae quia eaque tempora!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi illum perspiciatis nulla ea vel dicta voluptas beatae iste quibusdam culpa soluta nostrum neque amet, molestias saepe distinctio, aliquid illo tempora.
        </div>
        <app-nouveautes class="w-1/5" />
    </div>     
    <div id="section2"></div>
    <div id="section3"></div>
</div>